* {
    margin: 0;
    text-align: center;
    font-family: "PT Mono", monospace;
}

body {
    background-image: linear-gradient(#eeb6be, #fff);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 70px;
}

h2{
    font-size: 2vw;
}

a{
    color: white;
    text-decoration: none;
}

p{
    color: white;
    font-size: 30px;
}


/*

You: What are you up to, Samantha?

Me: Just, y'know... stuff and things

*/

#stuff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.things {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
