body{
    background: #101010;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
}
h1{
    font-size: 20vw;
    text-align: center;
    margin: 0;
}
h3{
    font-weight: normal;
    text-align: center;
}
button{
    text-align: center;
    margin: 15;
}
a{
    color: #909090;
    text-decoration: none;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #101010;
    background-image: linear-gradient(#101010, #202020);
}
.subtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hover-button {
  font-family: Sans-Serif !important;
  outline: none;
  border: none;
  padding: 20px;
  display: block;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  color: #fff;
}
.hover-button:before, .hover-button:after {
  width: 0;
  height: 3px;
  content: " ";
  background-color: #F44336;
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.hover-button:after {
  top: 100%;
}
.hover-button:hover {
  letter-spacing: 8px;
  color: #F44336;
}
.hover-button:hover:before, .hover-button:hover:after {
  width: 100%;
  left: 0;
}
.hover-button:hover:after {
  width: 100%;
  left: 0;
}
