body{
    background: #ff7500;
    color: #460003;
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
}
@keyframes fadein{
    from {opacity: 0;}
    to  {opacity: 1;}
}
h1{
    margin: 0;
    font-size: 50px;
}
h3{
    font-weight: normal;
    font-size: 25px;
}
a{
    display: block;
    color: #FFD9B9;
    text-decoration: none;
    font-size: 25px;
    border-color: #FFD9B9;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    padding-bottom: 10px;
    transition: 0.2s;
    margin-right: 10px;
    margin-bottom: 10px;
}
a:hover{
    background: #ffffff;
    color: #ff7500; 
}
.content{
    padding: 100px;
    position: absolute;
    animation: fadein 1s;
    z-index: 1;
}
.subtitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
canvas{
    opacity: 0.5;
    z-index: 0;
}


/* NOTES:
Maybe a randomly generated tile pattern
in orange on the left side on desktop?

Projects should be listed on this page, 
not the other one.
*/